.DS_Store
.project
.settings
.idea

*~
*.sw[a-z]
*.zip
*.tar.gz
*.rpm
*.deb

/build/
/debian/.debhelper
/debian/couchbase-service-broker*
/debian/files

*.kconf

# IDEs
/.idea
/.vscode
/.vscode-server
/.vscode-server-insiders
/.vscode-test
/.vscode-remote
/.vscode-remote-insiders
/.vscode-remote-test
/.vscode-remote-test-insiders
/.vscode-remote-lock
/.vscode-remote-lock-insiders
/.vscode-remote-lock-test
/.vscode-remote-lock-test-insiders
/.vscode-remote-lock-test
